<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>
  <body style='margin: 0; padding: 0'>
    <div style='margin: 0 auto; width: 500px'>
      <hedaer>
        <h1 style='font-size: 16px; padding: 20px 0'>
          <svg
            width='154'
            height='30'
            style='display: block; margin-left: 20px'
            viewBox='0 0 154 30'
            fill='none'
            xmlns='http://www.w3.org/2000/svg'
          >
            <path
              d='M9.128 23C8.424 23 7.92267 22.8507 7.624 22.552C7.34667 22.2533 7.208 21.7947 7.208 21.176V6.68H2.6C1.91733 6.68 1.448 6.54133 1.192 6.264C0.957333 5.96533 0.84 5.496 0.84 4.856V3.064C0.84 2.424 0.957333 1.96533 1.192 1.688C1.448 1.38933 1.91733 1.24 2.6 1.24H19.496C20.1787 1.24 20.6373 1.38933 20.872 1.688C21.128 1.96533 21.256 2.424 21.256 3.064V4.856C21.256 5.496 21.128 5.96533 20.872 6.264C20.6373 6.54133 20.1787 6.68 19.496 6.68H14.888V21.176C14.888 21.7947 14.7387 22.2533 14.44 22.552C14.1627 22.8507 13.6613 23 12.936 23H9.128ZM27.4703 23.48C25.4863 23.48 23.7689 23.1493 22.3183 22.488C20.8889 21.8053 19.8009 20.856 19.0543 19.64C18.3076 18.4027 17.9343 16.9627 17.9343 15.32C17.9343 13.656 18.3076 12.216 19.0543 11C19.8009 9.76267 20.8889 8.81333 22.3183 8.152C23.7689 7.49067 25.4863 7.16 27.4703 7.16C30.4783 7.16 32.8249 7.896 34.5103 9.368C36.1956 10.8187 37.0383 12.8027 37.0383 15.32C37.0383 16.9627 36.6543 18.4027 35.8863 19.64C35.1396 20.856 34.0516 21.8053 32.6223 22.488C31.1929 23.1493 29.4756 23.48 27.4703 23.48ZM27.4703 18.104C28.7503 18.104 29.3903 17.176 29.3903 15.32C29.3903 14.3387 29.2196 13.6347 28.8783 13.208C28.5583 12.7813 28.0889 12.568 27.4703 12.568C26.8516 12.568 26.3823 12.7813 26.0623 13.208C25.7423 13.6347 25.5823 14.3387 25.5823 15.32C25.5823 17.176 26.2116 18.104 27.4703 18.104ZM41.455 27.992C39.471 27.992 37.8283 27.4267 36.527 26.296C36.271 26.104 36.143 25.8907 36.143 25.656C36.143 25.4427 36.2177 25.2187 36.367 24.984L37.871 22.36C38.063 22.04 38.2657 21.88 38.479 21.88C38.6497 21.88 38.8843 21.9653 39.183 22.136C39.503 22.328 39.7803 22.4667 40.015 22.552C40.271 22.6373 40.5697 22.68 40.911 22.68C41.615 22.68 42.0523 22.392 42.223 21.816L36.143 9.016C36.015 8.76 35.951 8.52533 35.951 8.312C35.951 7.864 36.1963 7.64 36.687 7.64H42.383C43.0017 7.64 43.4177 7.928 43.631 8.504L45.615 14.456L47.599 8.504C47.8123 7.928 48.2283 7.64 48.847 7.64H54.543C55.0123 7.64 55.247 7.864 55.247 8.312C55.247 8.504 55.1937 8.73867 55.087 9.016L49.167 21.56C48.463 23.0747 47.7697 24.2907 47.087 25.208C46.4043 26.1253 45.6043 26.8187 44.687 27.288C43.791 27.7573 42.7137 27.992 41.455 27.992Z'
              fill='#E0234D'
            />
            <path
              d='M65.8923 23.48C63.9509 23.48 62.1483 23.2773 60.4843 22.872C58.8203 22.4667 57.4763 21.9013 56.4523 21.176C56.0256 20.8773 55.8123 20.5893 55.8123 20.312C55.8123 20.12 55.8869 19.9173 56.0363 19.704L57.8923 16.792C58.0843 16.5147 58.2763 16.376 58.4683 16.376C58.6389 16.376 58.8416 16.4507 59.0763 16.6C59.8443 17.0693 60.7189 17.4427 61.7003 17.72C62.7029 17.976 63.6736 18.104 64.6123 18.104C65.4016 18.104 65.9669 17.9973 66.3083 17.784C66.6709 17.5707 66.8523 17.24 66.8523 16.792C66.8523 16.3013 66.6176 15.9067 66.1483 15.608C65.6789 15.3093 64.8683 14.936 63.7163 14.488C61.5616 13.656 59.8656 12.7173 58.6283 11.672C57.3909 10.6053 56.7723 9.19733 56.7723 7.448C56.7723 5.22933 57.5403 3.56533 59.0763 2.456C60.6336 1.32533 62.7243 0.759998 65.3483 0.759998C67.1829 0.759998 68.7403 0.919999 70.0203 1.24C71.3216 1.56 72.4523 2.06133 73.4123 2.744C73.8389 3.04267 74.0523 3.33067 74.0523 3.608C74.0523 3.8 73.9776 4.00267 73.8283 4.216L71.9723 7.128C71.7803 7.42667 71.5883 7.576 71.3963 7.576C71.2683 7.576 71.0656 7.49067 70.7883 7.32C70.2763 6.97867 69.6683 6.70133 68.9643 6.488C68.2603 6.25333 67.5029 6.136 66.6923 6.136C65.9456 6.136 65.3803 6.24267 64.9963 6.456C64.6123 6.66933 64.4203 7.01067 64.4203 7.48C64.4203 7.864 64.5483 8.184 64.8043 8.44C65.0816 8.696 65.4229 8.92 65.8283 9.112C66.2336 9.28267 66.9376 9.57067 67.9403 9.976C69.5403 10.616 70.7989 11.2347 71.7163 11.832C72.6336 12.408 73.3269 13.112 73.7963 13.944C74.2656 14.7547 74.5003 15.7893 74.5003 17.048C74.5003 18.968 73.7749 20.5253 72.3243 21.72C70.8949 22.8933 68.7509 23.48 65.8923 23.48ZM88.3798 29.464C87.6758 29.464 87.1744 29.3147 86.8758 29.016C86.5771 28.7387 86.4278 28.28 86.4278 27.64V22.936C86.0864 23.0853 85.6278 23.2133 85.0518 23.32C84.4971 23.4267 83.9638 23.48 83.4518 23.48C80.8491 23.48 78.8758 22.808 77.5318 21.464C76.1878 20.0987 75.5158 18.2107 75.5158 15.8C75.5158 13.048 76.3371 10.9253 77.9798 9.432C79.6438 7.91733 82.0971 7.16 85.3398 7.16C87.0464 7.16 88.6571 7.40533 90.1718 7.896C91.6864 8.36533 92.9451 8.96267 93.9478 9.688V27.64C93.9478 28.2587 93.7984 28.7173 93.4998 29.016C93.2224 29.3147 92.7318 29.464 92.0278 29.464H88.3798ZM85.0838 18.424C85.6171 18.424 85.9904 18.3067 86.2038 18.072C86.4384 17.816 86.5558 17.4107 86.5558 16.856V12.376C86.3211 12.2907 86.0118 12.248 85.6278 12.248C84.8598 12.248 84.2518 12.5467 83.8038 13.144C83.3771 13.72 83.1638 14.6053 83.1638 15.8C83.1638 17.5493 83.8038 18.424 85.0838 18.424ZM101.803 23.48C100.032 23.48 98.635 22.9893 97.611 22.008C96.587 21.0053 96.075 19.5013 96.075 17.496V9.464C96.075 8.84533 96.2137 8.38667 96.491 8.088C96.7897 7.78933 97.291 7.64 97.995 7.64H101.803C102.528 7.64 103.03 7.78933 103.307 8.088C103.606 8.36533 103.755 8.824 103.755 9.464V17.144C103.755 17.5707 103.83 17.8907 103.979 18.104C104.15 18.296 104.416 18.392 104.779 18.392C105.184 18.392 105.462 18.296 105.611 18.104C105.76 17.8907 105.835 17.5707 105.835 17.144V9.464C105.835 8.84533 105.974 8.38667 106.251 8.088C106.55 7.78933 107.051 7.64 107.755 7.64H111.563C112.288 7.64 112.79 7.78933 113.067 8.088C113.366 8.36533 113.515 8.824 113.515 9.464V21.944C113.515 22.3707 113.43 22.6587 113.259 22.808C113.11 22.936 112.79 23 112.299 23H108.267C107.99 23 107.776 22.9787 107.627 22.936C107.499 22.872 107.414 22.744 107.371 22.552L107.179 21.752C106.603 22.264 105.835 22.68 104.875 23C103.936 23.32 102.912 23.48 101.803 23.48ZM121.234 23.48C119.271 23.48 117.692 22.8293 116.498 21.528C115.303 20.2053 114.706 18.36 114.706 15.992C114.706 14.2427 115.154 12.696 116.05 11.352C116.946 10.008 118.183 8.97333 119.762 8.248C121.362 7.52267 123.154 7.16 125.138 7.16C126.844 7.16 128.284 7.33067 129.458 7.672C130.652 7.992 131.815 8.52533 132.946 9.272V21.944C132.946 22.3707 132.86 22.6587 132.69 22.808C132.54 22.936 132.22 23 131.73 23H127.698C127.463 23 127.282 22.968 127.154 22.904C127.026 22.84 126.908 22.7227 126.802 22.552L126.29 21.752C125.671 22.328 124.956 22.7547 124.146 23.032C123.335 23.3307 122.364 23.48 121.234 23.48ZM124.082 18.392C124.615 18.392 125.052 18.2427 125.394 17.944C125.735 17.6453 125.906 17.2293 125.906 16.696V12.344C125.714 12.2587 125.458 12.216 125.138 12.216C124.263 12.216 123.58 12.5467 123.09 13.208C122.599 13.848 122.354 14.776 122.354 15.992C122.354 17.592 122.93 18.392 124.082 18.392ZM144.421 23.48C141.157 23.48 138.704 22.7867 137.061 21.4C135.419 19.992 134.597 17.9227 134.597 15.192C134.597 12.7387 135.28 10.7867 136.645 9.336C138.011 7.88533 139.973 7.16 142.533 7.16C143.045 7.16 143.579 7.21333 144.133 7.32C144.709 7.42667 145.168 7.55467 145.509 7.704V3.064C145.509 2.424 145.659 1.96533 145.957 1.688C146.256 1.38933 146.757 1.24 147.461 1.24H151.109C151.813 1.24 152.304 1.38933 152.581 1.688C152.88 1.98667 153.029 2.44533 153.029 3.064V21.112C152.048 21.816 150.8 22.392 149.285 22.84C147.792 23.2667 146.171 23.48 144.421 23.48ZM144.709 18.392C145.093 18.392 145.403 18.3493 145.637 18.264V13.784C145.637 13.2293 145.52 12.8347 145.285 12.6C145.072 12.344 144.699 12.216 144.165 12.216C143.525 12.216 143.045 12.4933 142.725 13.048C142.405 13.5813 142.245 14.296 142.245 15.192C142.245 16.344 142.448 17.1653 142.853 17.656C143.28 18.1467 143.899 18.392 144.709 18.392Z'
              fill='#00DD6D'
            />
          </svg>
        </h1>
      </hedaer>
      <section style='border-top: 1px solid #ccc; padding: 20px 20px 80px'>
        <h2 style='font-size: 20px; margin: 0; padding: 0'>
          비밀번호 재설정 안내
        </h2>
        <h3 style='font-size: 15px; color: #777; font-weight: 400'>
          <span style='font-weight: 700; color: black'>{{userName}}</span>
          님, 안녕하세요. 토이스쿼드를 이용해주셔서 감사합니다.
          <br />비밀번호 재설정하려면 아래 링크를 클릭해주세요.
        </h3>
        <a
          href="{{resetPasswordBtnUrl}}"
          style='
            text-decoration: none;
            width: fit-content;
            background-color: #e0234d;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            display: block;
            font-size: 14px;
          '
        >
          비밀번호 재설정
        </a>
        <div style='font-size: 13px; margin-top: 20px; color: #999'>
          - 재설정 링크는 전송 시점으로부터 6시간 동안만 유효합니다.
        </div>
        <div style='font-size: 18px; padding: 20px 0'>
          <span style='color: #e0234d'>토이스쿼드</span>
          팀 드림
        </div>
      </section>
      <footer
        style='
          color: white;
          padding: 20px;
          font-size: 14px;
          background-color: #666;
        '
      >
        <h2
          style='
            font-size: 17px;
            font-weight: 700;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
          '
        >
          문의하기
        </h2>
        <div>이메일 | godboy4256@gmail.com</div>
        <div>전화번호 | 010-9019-2172</div>
      </footer>
    </div>
  </body>
</html>